<!-- พื้นที่แสดงสินค้า -->
<% if (product.length > 0) { %>
    <%- include('db_displayProductBox_ifHasData') %>
<% } else { %>
    <!-- พื้นที่เว้นไว้สำหรับสินค้า -->
    <div class="max-w-screen-lg mx-auto mt-10 min-h-[400px] flex justify-center items-center border border-gray-300 rounded-lg">
        <p class="text-gray-500 text-lg">🚧 สินค้าจะถูกเพิ่มที่นี่เร็วๆ นี้...</p>
    </div>
<% } %>