<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = { darkMode: 'class' };
</script>
    <title>Document</title>
</head>
<body>
    <nav class="bg-blue-600 text-white p-4 h-[110px] dark:bg-black">
        <div class="flex justify-between items-center">
            <a href="/">
                <img src="/images/logo_main.png" width="150px" class="h-14 w-auto transition-all duration-300 dark:invert dark:brightness-75" id="mainlogo">
            </a>
           <div class="relative flex items-center px-2 py-2 rounded-lg max-w-2xl">
           <div class="relative flex items-center px-4 py-2 w-[200px] sm:w-[250px] md:w-[600px] ">
                <!-- ช่องค้นหา -->
                <input type="text" id="searchBar" placeholder="ค้นหาสินค้าที่คุณสนใจ..." 
                class="flex-grow pl-4 pr-14 py-2 border rounded-lg text-black focus:outline-none w-full h-auto text-[10px] sm:text-[15px] md:text-auto">
            
                <!-- ปุ่มไอคอน Search -->
                <button class="absolute right-4 w-5 h-8 sm:w-6 sm:h-8 md:w-8 md:h-9 bg-[#FFEF00] dark:bg-[#FFBE4F] rounded-lg flex items-center justify-center shadow">
                    <img src="/images/logo_search_black.png" alt="search" class="w-4 h-4 sm:w-5 sm:h-5 md:w-7 md:h-7 object-contain" >
                </button>
            </div>
                <div>
                    <a href="#" onclick="toggleSearch(event)" alt="close" class="w-5 h-5 sm:w-6 sm:h-6 md:w-8 md:h-8 bg-white rounded-full flex items-center justify-center shadow text-[7px] sm:text-[8px] md:text-[15px] text-black font-bold">X</a>
                </div>
            </div>

          <ul class="flex gap-1 md:gap-3 items-center">
            <li><a href="#" onclick="toggleSearch(event)"><img src="/images/logo_search.png" alt="search" class="w-5 h-5 sm:w-6 sm:h-6 md:w-8 md:h-8" ></a></li>
            <li><a href="/user-profile"><img src="/images/logo_account.png" alt="account" class="w-5 h-5 sm:w-6 sm:h-6 md:w-8 md:h-8" ></a></li>
            <li><a href="/favorites"><img src="/images/logo_favorite.png" alt="favorite" class="w-5 h-5 sm:w-6 sm:h-6 md:w-8 md:h-8" ></a></li>
            <li><a href="/compare"><img src="/images/logo_compare.png" alt="compare" class="w-5 h-5 sm:w-6 sm:h-6 md:w-8 md:h-8" ></a></li>
            <li class="border-l border-white-600 h-5 sm:h-7 md:h-10"></li>
            <li><a href="/cart"><img src="/images/logo_shopping_cart.png" alt="หน้าแรก" class="w-5 h-5 sm:w-6 sm:h-6 md:w-8 md:h-8" ></a></li>
          </ul>
        </div>
      </nav>

</body>
</html>
