<div id="navbarContainer">
    <% if (locals.isProvider) { %>
        <!-- ถ้าเป็น provider ให้แสดง navbar สำหรับ provider -->
        <div id="providerNavbar">
            <%- include('narbar_provider') %>
        </div>
    <% } else { %>
        <!-- ถ้าไม่ใช่ provider ให้แสดง navbar ปกติ -->
        <div id="defaultNavbar">
            <%- include('narbar_user') %>
        </div>
        <div id="searchNavbar" style="display: none;">
            <%- include('narbar_search') %>
        </div>
    <% } %>
</div>
