<nav class="bg-blue-600 p-4">
    <div class="container mx-auto flex justify-between">
        <a href="/" class="text-white text-lg font-semibold">
            <img src="/logo.png" alt="FINFUR" class="h-8 inline">
        </a>
    </div>
</nav>

