<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav class="bg-blue-600 text-white p-4 h-[110px]">
        <div class="flex justify-between items-center">
           <img src="/img/logo_main.png" width="150px" >

           <div class="relative flex items-center px-4 py-2 rounded-lg w-full max-w-2xl">
           <div class="relative flex items-center px-4 py-2 rounded-lg w-full">
                <!-- ช่องค้นหา -->
                <input type="text" id="searchBar" placeholder="ค้นหาสินค้าที่คุณสนใจ..." 
                    class="flex-grow pl-4 pr-14 py-2 border rounded-lg text-black focus:outline-none w-[300px]">
            
                <!-- ปุ่มไอคอน Search -->
                <button class="absolute right-4 w-10 h-10  bg-[#FFEF00] rounded-lg flex items-center justify-center shadow">
                    <img src="/img/logo_search_black.png" alt="search" class="w-6 h-6 object-contain" >
                </button>
            </div>
                <div>
                    <a href="#" onclick="toggleSearch(event)" alt="close" class="w-7 h-7 bg-white rounded-full flex items-center justify-center shadow text-[15px] text-black font-bold">X</a>
                </div>
            </div>

          <ul class="flex space-x-4 items-center flex-nowrap">
            <li><a href="index.html"><img src="/img/logo_account.png" alt="account" class=" w-8 h-8 max-w-8 max-h-8  "></a></li>
            <li><a href="index.html"><img src="/img/logo_favorite.png" alt="favorite" class="w-8 h-8 max-w-8 max-h-8  "></a></li>
            <li class="border-l border-white-600 h-10"></li>
            <li><a href="index.html"><img src="/img/logo_shopping_cart.png" alt="หน้าแรก" class="w-8 h-8 max-w-8 max-h-8  "></a></li>
          </ul>
        </div>
      </nav>

</body>
</html>