<!-- userOrderList.ejs -->
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>การซื้อของฉัน | FINFUR</title>
    <link rel="icon" type="image/png" href="/images/logo_main.png">
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div id="navbarContainer">
        <div id="defaultNavbar">
            <%- include('partials/narbar') %>
        </div>
        <div id="searchNavbar" style="display: none;">
            <%- include('partials/narbar_search') %>
        </div>
    </div>

<div class="flex max-w-5xl mx-auto mt-10 bg-white shadow-lg rounded-lg">
    <%- include('partials/aside_for_user') %>
    
    <div class="flex w-full mx-auto mt-10 bg-white shadow-lg rounded-lg">
        
        <div class="w-3/4 p-5">
            <h2 class="text-xl font-bold mb-4">การซื้อของฉัน</h2>
            <%- include('partials/menu_for_user_history') %>
            
            <div class="mt-4">
                    <div class="flex justify-between items-center bg-gray-100 p-4 rounded mb-4">
                        <div class="flex items-center space-x-4">
                            <img src="= order.image " alt="Product Image" class="w-20 h-20 object-cover rounded">
                            <div>
                                <p class="text-gray-700 font-semibold">ชื่อสินค้า</p>
                                <p class="text-gray-600">ตัวเลือกสินค้า</p>
                                <p class="text-gray-600">จำนวน</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-blue-600"></p>
                            <p class="text-gray-600">ราคา</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
